* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial'
}

.mainSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90vh;
  width: 100vw;
  background-color: aliceblue;
  align-items: center;
}